.titulo{
  font-size: 20px;
  font-weight: 1000;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.containerForm{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonSubmit{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.button-form{
    color: #fff;
    background-color: rgb(39, 182, 39);
    margin-bottom: 10px;
}
.button-form:hover{
    border: 2px solid #8A2BE2;
}
.input-pesquisa{
    width: 90%;
}