@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  background-color: #4B0082;
  justify-content: center;
  align-items: center;
  
}
.title{
  text-align: center;
  font-size: 12px;
  font-weight: 1000;
  padding: 20px;
}
.container{
  width: 823px;
  height: auto;
  background-color: #8A2BE2;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 100px;
}

.input-pesquisa{
  display: flex;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  border-color: wheat;
  color: #4B0082;
  padding: 5px 5px;
 
}
.input-pesquisa:focus{
  outline: none;

}
.select-options{
  background-color: #fff;
  border-radius: 5px;
  border-color: wheat;
  color: black;
  padding: 5px 5px;
}
.select-options:focus{
  outline: none;
  background-color: #8A2BE2;
  color: #fff;
}
select option:hover{
  background-color: black;
}
.pesquisa{
  display: flex;
    width: auto;
    margin: 10px 10px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}
.titulo-pesquisa{
  background-color: #4B0082;
  border-radius: 10px;
  padding: 5px;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background-color: #fff;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #8A2BE2;
  border-radius: 10px;

}