.content{
    display: flex;
    width: auto;
    margin: 10px 10px;
    height: 90px;
    background-color: #4B0082;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}
.info{
    margin-left: 30px;
}

.buttons{
    margin-right: 30px;
}
.categoria{
    background-color: #fff;
    border-radius: 10px;
    padding: 2px;
    color: #4B0082;
    border: 1px red solid;
}