.content{
    display: flex;
    width: auto;
    margin: 10px 10px;
    height: 90px;
    background-color: #4B0082;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}
.content:hover{
    border: 3px solid #8A2BE2;
}
.info{
    margin-left: 30px;

    align-items: center;
}

.buttons{
    display: flex;
    margin-right: 30px;
    gap: 10px;
}
.button-options{
    display: flex;
    background-color: #4B0082;
    align-items: center;
    justify-content: center;
}
.button-options:hover{
    border-color: #fff;
}

.categoria{
    background-color: #fff;
    border-radius: 10px;
    padding: 2px;
    color: #fff;
    width: 100px;
    font-size: 15px;
    text-align: center;
    background-color: #8A2BE2;
}
.todoList{
    height: 400px;
    overflow-y: auto;
}
.todoList::-webkit-scrollbar{
    width: 10px;
}
.todoList::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
}
.todoList::-webkit-scrollbar-thumb{
    background-color: #4B0082;
    border-radius: 10px;

}
